/***************************************************/
/*--Hide Text Set--*/
/*--Hide Long Word Set--*/
/*--Pop Up Shadow Set--*/
.navmenu ul a:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.box_con {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);
}

/*--Horizontal List--*/
.navmenu ul {
  display: block;
}
.navmenu ul li {
  display: block;
  float: left;
}

/*--news--*/
@-webkit-keyframes scalebtn {
  0% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes scalebtn {
  0% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("https://qqgalaxyca.com/Views/VIP/common/fonts/Montserrat-Regular.woff") format("woff"), url("https://qqgalaxyca.com/Views/VIP/common/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("https://qqgalaxyca.com/Views/VIP/common/fonts/Raleway-Regular.woff") format("woff"), url("https://qqgalaxyca.com/Views/VIP/common/fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", Tahoma, Arial, Helvetica, sans-serif, "Microsoft Yahei";
  background: url(../images/bg.jpg) no-repeat center top;
  background-size: cover;
  color: #1f1f1f;
  font-size: 100%;
  line-height: 24px;
  position: relative;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  color: #1f1f1f;
}
a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

img {
  border-width: 0;
}

input {
  height: 30px;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #808080;
  line-height: 30px;
  border: 1px #ccc solid;
  padding: 0 5px;
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
  font-size: 0.875rem;
}

button {
  height: 24px;
  background-color: #033544;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  border-width: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  font-size: 0.8125rem;
}
button:hover {
  background-color: #00859b;
}

ul {
  list-style: none;
}

h3 {
  color: #fff;
  line-height: 37px;
  font-size: 1rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  color: #033544;
  font-size: 0.75rem;
}

/***************************************************/
/*Clear*/
.clearfix:after, .box_con:after, .account_main_width:after, .mainRow_width:after, .mainNav_width:after, .main_width:after, .navmenu ul:after {
  content: "";
  display: block;
  clear: both;
}

.clearfix, .box_con, .account_main_width, .mainRow_width, .mainNav_width, .main_width, .navmenu ul {
  zoom: 1;
}

.clear {
  clear: both;
}

/*Float Set*/
.float-L, .logo {
  float: left;
}

.float-R, .navmenu ul {
  float: right;
}

/*Align Set*/
.align-L {
  text-align: left;
}

.align-R {
  text-align: right;
}

.align-C {
  text-align: center;
}

/*Border Set*/
.borderdot {
  border-top: 1px dotted #bfbfbf;
}

.border-R {
  border-right: 1px solid #fff;
}

.border-R-dot {
  border-right: 1px dotted #aeaeae;
}

/*text-indent Set*/
.fadeout {
  text-indent: -99999px;
}

/*img Set*/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Columns (Manual)*/
.col-2 {
  width: 50%;
}

.col-3-x {
  width: 33%;
}

.col-3 {
  width: 33.33333%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 16.66%;
}

.col-7 {
  width: 58.3333%;
}

.col-12 {
  width: 100%;
}

[class^=col-] {
  float: left;
}

/***************************************************/
/*-----Main Width Set-----*/
.main_width {
  width: 1000px;
  margin: 0 auto;
}

.mainNav_width {
  width: 842px;
  margin: 0 auto;
}

.mainRow_width {
  width: 700px;
  margin: 0 auto;
}

/*-----Btn Set-----*/
.btn, .btn-link {
  width: 10px;
  height: 10px;
  display: block;
  -mos-border-radius: 30px;
  border-radius: 30px;
  background-color: #CECECE;
}
.btn:hover, .btn-link:hover {
  background-color: #2a9daf;
}

.btn-link {
  background-color: #2a9daf;
}

.btn_style {
  margin: 18px auto;
  max-width: 148px;
}

/**************************************/
.navmenu {
  min-width: 1000px;
  background: url(../images/bg_01.png) repeat-x 0 -213px;
}
.navmenu ul li {
  margin-left: 5px;
}
.navmenu ul a {
  display: block;
  padding: 0 8px;
  color: #fff;
  line-height: 51px;
  font-size: 0.875rem;
  transition: all 0.5s ease;
}
.navmenu ul a:hover {
  text-decoration: none;
  background-color: #004961;
}

.logo a {
  display: block;
  width: 280px;
}
.logo img {
  max-width: 100%;
  height: auto;
}

.box_con {
  margin: 20px auto 0;
  width: 950px;
  padding: 30px 25px;
  min-height: 723px;
  background-color: rgba(226, 226, 226, 0.5);
  font-size: 0.875rem;
}
.box_con h3 {
  font-size: 1.5rem;
  color: #0098a2;
  padding-bottom: 10px;
  border-bottom: 1px solid #5f5f5f;
}
.box_con h4 {
  color: #0098a2;
  margin: 10px 0;
}
.box_con p {
  margin-top: 20px;
  font-size: 0.8125rem;
}
.box_con span {
  display: inline-block;
  color: #a25303;
  font-weight: 700;
  font-size: 1.125rem;
}
.box_con span img {
  margin-right: 3px;
}
.box_con img {
  vertical-align: middle;
}

.about {
  background: rgba(226, 226, 226, 0.3) url(../images/about_bg.png) no-repeat center bottom;
  background-size: 100%;
}
.about p {
  width: 660px;
}

.chip_privi {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.chip_privi span {
  display: block;
  color: #fff;
  font-weight: normal;
  font-size: 0.875rem;
}
.chip_privi th {
  color: #b56e1a;
}
.chip_privi td {
  padding: 6px;
  color: #fff;
  border: 1px solid #222;
  line-height: 18px;
  font-size: 0.8125rem;
}
.chip_privi tr {
  background-color: #545454;
}
.chip_privi tr:nth-child(even) {
  background-color: #414141;
}
.chip_privi thead tr:first-child {
  background: transparent;
}
.chip_privi tbody td:first-child {
  text-align: left;
}
.chip_privi tfoot td {
  letter-spacing: 0.5px;
  text-align: right;
  color: #ffa700;
}
.chip_privi .reward_prompt {
  color: #ffa700;
}
.chip_privi .chip, .chip_privi .bronze, .chip_privi .silver, .chip_privi .platinum, .chip_privi .gold, .chip_privi .diamond {
  padding: 45px 0 5px 0;
  background: url(../images/chip.png) no-repeat;
}
.chip_privi .diamond {
  background-position: center -1053px;
}
.chip_privi .gold {
  background-position: center -865px;
}
.chip_privi .platinum {
  background-position: center -959px;
}
.chip_privi .silver {
  background-position: center -772px;
}
.chip_privi .bronze {
  background-position: center -677px;
}
.chip_privi .user {
  padding: 45px 0 5px 0;
  background: url(http://qqgalaxyca.com/) no-repeat center 5px;
}

.terms {
  background: rgba(226, 226, 226, 0.7) url(../images/terms.png) no-repeat right bottom;
}
.terms ul {
  width: 680px;
  list-style: disc;
  margin: 20px 0 0 20px;
  line-height: 20px;
  font-size: 0.8125rem;
}
.terms li {
  margin: 10px 0;
}

.contact {
  min-height: 400px;
}
.contact a {
  color: #a25303;
  font-weight: 700;
  padding-left: 34px;
}
.contact p {
  margin-left: 18px;
}
.contact .icon_email {
  background: url(../images/chip.png) no-repeat 0 -1226px;
}
.contact .icon_chat {
  background: url(../images/chip.png) no-repeat 0 -1276px;
}

.width-82 {
  width: 82px;
}

.width-158 {
  width: 158px;
}

.seo_wrap {
  width: 950px;
  margin: 40px auto 20px;
  padding: 20px 20px 10px 20px;
  background-color: rgba(240, 240, 240, 0.8);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
}
.seo_wrap h2 {
  color: #242424;
  font-size: 0.875rem;
  font-weight: bold;
}
.seo_wrap h3 {
  color: #242424;
}
.seo_wrap p {
  margin: 8px 0;
  line-height: 18px;
  font-family: Arial;
  font-weight: normal;
  overflow: hidden;
  color: #545454;
  font-size: 0.75rem;
}
.seo_wrap .btn_type {
  display: table;
  margin: 20px auto auto;
}
.seo_wrap .btn_type .btn_default {
  width: 176px;
  text-transform: uppercase;
}